
# Created by https://www.gitignore.io/api/c++

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# End of https://www.gitignore.io/api/c++

./1_sem/web/tp-stepic-master
./1_sem/web/tp-tasks-master
./1_sem/web/TP_Web_1sem-master
*.idea
*.pro.user
*.pyc
./1_sem/web/ask_pupkin/ask_pupkin/__pycache__/wsgi1.cpython-35.pyc

build*
