<!DOCTYPE html>
 {% load static %}
<html lang="en">

<head>

    {% block header %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"> {% block title %}
    <title>Main</title>
    {% endblock title %}

    <!-- Latest compiled and minified CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina|Cabin|Diplomata+SC|Oswald|Viga" rel="stylesheet">

    {% endblock header %}

</head>

<body>

    {% block navbar %}
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">

            <a class="navbar-brand" href="#">
                <img src="/static/img/brand.png" width="50" height="35" class="d-inline-block align-top" alt="Ask website"
                 style="margin-top: -7px">
            </a>

            <span class="navbar-text"><a href="{% url 'ask' %}" class="h4">Ask website</a></span>

            <div class="collapse navbar-collapse">
                <form class="navbar-form navbar-left search-form" role="form">
                    <div class="form-group">
                        <input type="text" id="search" placeholder="Search..." class="form-control input-sm">
                    </div>
                    <button type="submit" class="btn btn-danger btn-sm">Search</button>
                </form>

                {% block client %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'login' %}">LogIn</a></li>
                    <li><a href="#">LogOut</a></li>
                </ul>
                {% endblock client %}

            </div>
        </div>
    </div>
    {% endblock navbar %} {% block main_part %}

    <div class="row" style="padding-top: 50px;">

        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-5"></div>
                <div class="col-lg-7">
                {% block left_part %}
                {% endblock left_part %}
                </div>

            </div>
        </div>
        <div class="col-lg-4">

            {% block right_part %}
            <div class="row" style="padding-top: 30px; padding-left: 40px;">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 id="popular_tags" class="my_header">Popular Tags</h2>
                        <ul class="list-inline">
                            <li class="text-success" class="medium_text">PIG</li>
                            <li class="text-muted" class="small_text">Birds</li>
                            <li class="text-success" class="big_text">Island</li>
                        </ul>
                        <ul class="list-inline">
                            <li class="text-primary" class="small_text">Friends</li>
                            <li class="text-info" class="big_text">Help</li>
                            <li class="text-warning" class="medium_text">A lot of birds and one pig</li>
                        </ul>
                        <ul class="list-inline">
                            <li class="text-primary" class="big_text">C++</li>
                            <li class="text-warning" class="medium_text">Python</li>
                            <li class="text-primary" class="small_text">Django</li>
                        </ul>
                    </div>
                    <div class="col-lg-12">
                        <h2 id="beast_members" class="my_header">Best Members</h2>
                        <div>
                            <ul class="list-best_members">
                                <li><a class="text-success" href="{% url 'tag' %}" class="bm">PIG</a></li>
                                <li><a class="text-warning" href="{% url 'tag' %}" class="bm">Chuck</a></li>
                                <li><a class="text-danger" href="{% url 'tag' %}" class="bm">Red</a></li>
                                <li><a class="text-primary" href="{% url 'tag' %}" class="bm">Bomb</a></li>
                                <li><a class="text-info" href="{% url 'tag' %}" class="bm">Unknown bird</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4"></div>
            </div>
            {% endblock right_part %}
        </div>
    </div>

    </div>
    {% endblock main_part %}

</body>

</html>
