{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}
<title>Login</title>
{% endblock title %}


{% block left_part %}
    <div class="text-left my_header">
        <h2 class="custom-title-left" style="color: #c12e2a" >Login</h2>
    </div>
<form action="{% url 'login' %}?continue={{ continue }}" method="post" class="form">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
    <button type="submit" class="btn btn-danger"> Login </button>
    <a href="{% url 'signup' %}" <button type="submit" class="btn btn-success">Create new account</button></a>
  {% endbuttons %}
</form>
{% endblock left_part %}

