<ul class="pagination">
    {% if page.has_other_pages %}
        {% if page.has_previous %}
            <li><a href="?page={{ page.previous_page_number }}">«</a></li>
        {% endif %}
        {% for num in page.page_range_current %}
            {% if num == page.number %}
                <li class="active"><a>{{ num }}</a></li>
            {% else %}
                <li><a href="?page={{ num }}"> {{ num }}</a></li>
            {% endif %}
        {% endfor %}
        {% if page.has_next %}
            <li><a href="?page={{ page.next_page_number }}">»</a>
            <li>
        {% endif %}
    {% endif %}
</ul>
