{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Tags</title>
{% endblock title %}

{% block left_part %}
<div class="row" style="padding-left: 15px;">
    <h2 id="new_question" class="my_header"> Tag: PIG </h2>
</div>

<div class="panel panel-default">
    <div class="row">
        <div class="col-lg-3" style="padding-top: 10px;">

            <img class="centerAvatar" src="{% static "img/avatar/sid.png" %}" class="img-responsive center-block"
                 alt="img" width="100" height="140">
        </div>
        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-12 center-block">
                    <h3><a href="{% url 'question' question_id=1 %}" class="my_header">What i need to do, if i am a pig.</a></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 center-block">
                    <h4><p class="my_text">Hi i am an only pig on this island, what i need to do, to become friends with birds?</p></h4>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <button type="button" class="btn btn-default btn-xs"><span
                    class="glyphicon glyphicon-minus"></span></button>
            <b>5</b>
            <button type="button" class="btn btn-default btn-xs"><span
                    class="glyphicon glyphicon-plus"></span></button>
        </div>
        <div class="col-lg-8">
            <a href="{% url 'question' question_id=1 %}" class="answers">Answers(14)</a>
            Tags:
            <a href="{% url 'hot'%}" class="tag">#PIG</a>
            <a href="{% url 'hot'%}" class="tag">#Island</a>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="row">
        <div class="col-lg-3" style="padding-top: 10px;">
            <img class="centerAvatar" src="{% static "img/avatar/sid.png" %}" class="img-responsive center-block"
                 alt="img" width="100" height="140">
        </div>

        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-12 center-block">
                    <h3><a href="{% url 'question' question_id=1 %}" class="my_header">How to boil water?</a></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 center-block">
                    <h4><p class="my_text">Oh, i am a child and i dont know ho do it, birds help me!</p></h4>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <button type="button" class="btn btn-default btn-xs"><span
                    class="glyphicon glyphicon-minus"></span></button>
            <b>22</b>
            <button type="button" class="btn btn-default btn-xs"><span
                    class="glyphicon glyphicon-plus"></span></button>
        </div>
        <div class="col-lg-8">
            <a href="{% url 'question' question_id=1 %}" class="answers">Answers(18)</a>
            Tags:
            <a href="{% url 'tag'%}" class="tag">#PIG</a>
            <a href="{% url 'tag'%}" class="tag">#Water</a>
            <a href="{% url 'tag'%}" class="tag">#Boil</a>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="row">
        <div class="col-lg-3" style="padding-top: 10px;">
            <img class="centerAvatar" src="{% static "img/avatar/sid.png" %}" class="img-responsive center-block"
                 alt="img" width="100" height="140">
        </div>

        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-12 center-block">
                    <h3><a href="{% url 'question' question_id=1 %}" class="my_header">Eat less.</a></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 center-block">
                    <h4><p class="my_text">What i need to do, if i am eating too much?</p></h4>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <button type="button" class="btn btn-default btn-xs"><span
                    class="glyphicon glyphicon-minus"></span></button>
            <b>100</b>
            <button type="button" class="btn btn-default btn-xs"><span
                    class="glyphicon glyphicon-plus"></span></button>
        </div>
        <div class="col-lg-8">
            <a href="{% url 'question' question_id=1 %}" class="answers">Answers(7)</a>
            Tags:
            <a href="{% url 'tag'%}" class="tag">#PIG</a>
            <a href="{% url 'tag'%}" class="tag">#Food</a>
        </div>
    </div>
</div>

{% block pages_list %}
  <ul class="pagination center-block">
      <li><a href="#">&laquo;</a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">&raquo;</a></li>
  </ul>
{% endblock pages_list %}

{% endblock left_part %}
